.form-button {
  width: 100%;
  background-color: #F8F8F8;;
  color: #C2C2C2;
  border-radius: 3px;
  padding: 13px 0 15px;
  text-align: center;
  border: none;
  margin-top: 135px;
}

.form-button_active {
  background-color: #3456F3;
  color: #FFF;
  width: 100%;
  border-radius: 3px;
  padding: 13px 0 15px;
  text-align: center;
  border: none;
  margin-top: 135px;
}
